/* input */
.timer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 24px;
  width: 346px;
  height: 72px;
}
#datetime-picker {
  height: 25px;
  width: 100%;
  border-radius: 4px;
  padding: 8px 16px;
  border: 1px solid #808080;
}
#datetime-picker:hover,
#datetime-picker:focus {
  border: 1px solid #000;
}

#datetime-picker:disabled {
  border: 1px solid #808080;
  color: #808080;
  background-color: #fafafa;
}
/* timer */
.value {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.label {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #2e2f42;
  text-transform: uppercase;
}
.field {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0px;
}



/* button */
.start_btn 
{
  border-radius: 8px;
  width: 75px;
  height: 40px;
  background-color: #4e75ff;
  color: #fff;
  border: none;
  transition: background-color 200ms ease-in-out;
}

.start_btn:hover,
.start_btn:focus {
  background: #6c8cff;
}

.start_btn:disabled {
  background-color: #cfcfcf;
  color: #989898;
}